 .formularioR{
    text-align: center;
    font-size: 200%;
    color: #000000;
}
.imagenseccion {
    position: relative;
    color: white;
    padding: 20px;
}


@media (max-width: 768px) {
  .letrasDePresentacion {
    font-size: 150%;
  }
  .Explicacion {
    font-size: 50%;
  }
  .formularioR {
    font-size: 100%;
  }
  .video{
    font-size: 200%;
  }
}
img.portada {
  max-width: 100%;
  height: auto;
}

.letrasDePresentacion, .Explicacion, .formularioR {
  text-align: center;
}

@media (min-width: 768px) {
  .letrasDePresentacion {
    text-align: right;
    font-size: 3vw;
  }
  
  .Explicacion {
    text-align: right;
    font-size: 1vw;
  }
  
  .formularioR {
    text-align: center;
    font-size: 2vw;
  }
  video{
    text-align: right;
    font-size: 14vw;
  }
}


.imagen-con-texto img {
  max-width: 100%;
  height: auto;
}


.contenido-superpuesto {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 90%;
}
@media (min-width: 768px) {
  .video iframe {
    width: 800px;
    height: 450px;
  }
}

.boton-atras {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.boton-atras:hover {
  background-color: #45a049;
}
.titulo {
  color: #27ae60;
  text-align: center;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid #27ae60;
  padding-bottom: 10px;
  font-size: 24px;
}

.pregunta, .respuesta {
  font-family: Arial, sans-serif;
  color: #2c3e50;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
}

.pregunta {
  font-weight: bold;
}

.respuesta {
  margin-left: 20px;
}

.boton {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  