/*.letrasDePresentacion{
    text-align: right;
    font-size: 300%;
    color: #000000;
}
.imagen-con-texto {
    position: relative;



  }
  .Explicacion{
    position: relative;
    text-align: right;
    font-size: 100%;
    color: #000000;
  }


  .imagen-con-texto .letrasDePresentacion {
    position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  
}
.imagen-con-texto .Explicacion {
    position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  
}

.imagen-con-texto .video {
    position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  
}

.imagenseccion{
    position: relative;
}
.formularioR{
    
    text-align: center;
    font-size: 200%;
    color: #000000;
  }

  .imagenseccion .formularioR{
    position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  /*
  Arreglar alinamiento de formulario
  Añadir imagen a todas las secciones
  */

  .letrasDePresentacion{
    text-align: right;
    font-size: 300%;
    color: #000000;
  }
  
  .Explicacion{
    text-align: right;
    font-size: 100%;
    color: #000000;
  }
  
  .formularioR{
    text-align: center;
    font-size: 200%;
    color: #000000;
  }

  .imagen-con-texto .imagen-con-texto {
    position: relative;
  }
  
  .contenido-superpuesto {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .letrasDePresentacion{
    text-align: right;
    font-size: 300%;
    color: #000000;
  }
  
  .Explicacion{
    text-align: right;
    font-size: 100%;
    color: #000000;
  }
  
  .formularioR{
    text-align: center;
    font-size: 200%;
    color: #000000;
}
.imagenseccion {
    position: relative;
    color: white;
    padding: 20px;
}
  