body{
    background-color: #7185F2;
    display: flex;
    place-content: center center
}

.container{
    width: 50%;
}

.container path{
    fill : #B271F2;
    stroke: #D61740;
    stroke-width: 2,5px;
}

.container :hover {
    fill:#6FCF34
}
path {
    fill: transparent;
    pointer-events: all;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.boton-atras {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .boton-atras:hover {
    background-color: #45a049;
  }
  
  
